<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EnableFindUngrouped" value="1" />
    <add key="EnableIsolateInGeometryPreview" value="1" />
    <add key="EnableMyGraphs" value="1" />
    <add key="EnableMyTemplates" value="1" />
    <add key="EnablePackageDirectories" value="1" />
    <add key="EnablePlayerInputs" value="1" />
    <add key="EnableSearchInWorkspace" value="1" />
    <add key ="MyGraphsAutoExecuteOnLoad" value="1" />
    <add key="MyGraphsDirectoryPaths" value="C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\en-US;C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\es-ES" />
    <add key="MyTemplatesDirectoryPath" value="C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\en-US\Revit\DynamoPlayer-2" />
  </appSettings>
</configuration>