<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EnableFindUngrouped" value="1" />
    <add key="EnableIsolateInGeometryPreview" value="1" />
    <add key="EnableMyGraphs" value="1" />
    <add key="EnableMyTemplates" value="1" />
    <add key="EnablePackageDirectories" value="1" />
    <add key="EnablePlayerInputs" value="1" />
    <add key="EnableSearchInWorkspace" value="1" />
    <add key="EnableUnfancify" value="1" />
    <add key="MyGraphsDirectoryPaths" value="C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\en-US;C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\es-ES" />
    <add key="MyTemplatesDirectoryPath" value="C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\en-US\Revit\DynamoPlayer-2" />
    <add key="SearchInNodeNicknames" value="1" />
    <add key="SearchInOriginalNodeNames" value="1" />
    <add key="SearchInNodeCategories" value="1" />
    <add key="SearchInNodeDescriptions" value="1" />
    <add key="SearchInNodeTags" value="1" />
    <add key="SearchInNodeValues" value="1" />
    <add key="SearchInTextNotes" value="1" />
    <add key="SearchInGroupTitles" value="1" />
    <add key="UnfancifyIgnoreGroupPrefixes" value="XXX" />
    <add key="UnfancifyIgnoreTextNotePrefixes" value="XXX" />
    <add key="UnfancifyUngroupAll" value="1" />
    <add key="UnfancifyDeleteTextNotes" value="1" />
    <add key="UnfancifyDeleteWatchNodes" value="1" />
    <add key="UnfancifyDisableGeometryPreview" value="1" />
    <add key="UnfancifyDisablePreviewBubbles" value="1" />
  </appSettings>
</configuration>