<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="EnablePackageDirectories" value="1"/>
    <add key ="EnablePlayerInputs" value="1"/>
    <add key ="EnableSearchInWorkspace" value="1"/>
    <add key ="EnableMyGraphs" value="1"/>
    <add key ="MyGraphsReadDirectoriesRecursively" value="1"/>
    <add key ="MyGraphsDirectoryPaths" value="C:\ProgramData\Dynamo\Dynamo Revit\1.3\Samples\en-US"/>
  </appSettings>
</configuration>